@model IEnumerable<applicationmvc.Models.Managermodel>

@{
    ViewBag.Title = "List";
}

@*<h2>Employee Request form</h2>*@
@*<body class="glyphicon-text-width" size="100">
   Employee Travel Request Form
</body>*@
<h2 style="text-align:center ">Employee Travel Request Form</h2>

<h2>
    @Html.ActionLink("Add New", "Create")
</h2>
<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.Requestid)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.RequestDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentStatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Requestid)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.RequestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentStatus)
            </td>
            <td>
                @*@Html.ActionLink("Cancel", "Cancel", new {  id=item.Requestid}) |*@
                    @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
    }

</table>
